@model AMS.Models.Brand

@{
    ViewData["Title"] = "Edit";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    @{DateTime maxDate = new DateTime(9999, 12, 31, 23, 59, 59); }
    @if (Model.DateArchived != maxDate)
    {
        <a asp-action="ArchivedBrands">Back to Archived Brands</a><span> | </span>
        <a asp-action="RestoreBrand" asp-route-id="@Model.ID">Restore Brand</a>
        <div>
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DateArchived)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateArchived)
                </dd>
            </dl>
        </div>
    }
    else
    {
        <a asp-action="Index">Cancel</a><span> | </span>
        <a asp-action="Delete" asp-route-id="@Model.ID">Archive Brand</a>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


